@{
    ViewData["Title"] = Model.Title;
}
@model LoginViewModel
<section id="header">
    <div class="container text-center text-xs-center">
        <div class="row">
            <div class="col">
                <h2>Sign in to YourForum!</h2>
                <hr width="50%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-5 mx-auto mt-2 text-center">
            <form asp-action="Login">
                <fieldset class="form-group"> <input type="text" asp-for="Username" placeholder="Username"
                        class="form-control form-control-sm">
                    <span class="text-danger" asp-validation-for="Username"></span>
                </fieldset>
                <fieldset class="form-group"> <input type="password" asp-for="Password" placeholder="Password"
                        class="form-control form-control-sm">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </fieldset>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p>Become a member <a asp-action="Register">Right now!</a></p>
        </div>
    </div>
</section>
<partial name="_AlertPartial" model="@Model.Alert"/>