@model PaginationViewModel

<ul class="pagination justify-content-center">
    @if (Model.PagedList.CurrentPage > 1)
    {
        <li class="page-item">
            <button type="submit" asp-action=@Model.ActionName asp-route-pageNumber=1 class="page-link" aria-label="First">
                <span>&laquo;</span>
            </button>
        </li>

        @await Component.InvokeAsync("PaginationButton", new {actionName = Model.ActionName, pageNumber =
            Model.PagedList.CurrentPage - 1})
    }

    @await Component.InvokeAsync("PaginationButton", new {actionName = Model.ActionName, pageNumber =
        Model.PagedList.CurrentPage})

    @if (Model.PagedList.TotalPages >= Model.PagedList.CurrentPage + 1)
    {
        @await Component.InvokeAsync("PaginationButton", new {actionName = Model.ActionName, pageNumber =
            Model.PagedList.CurrentPage + 1})
    }

    @if (Model.PagedList.CurrentPage < Model.PagedList.TotalPages)
    {
        <li class="page-item">
            <button type="submit" asp-action=@Model.ActionName asp-route-pageNumber=@Model.PagedList.TotalPages
                class="page-link" aria-label="Last">
                <span>&raquo;</span>
            </button>
        </li>
    }
</ul>