@{
    var key = ViewBag.Key;
    var error = ViewBag.Error;
}

@model MyForum.ViewModels.Components.ErrorComponentViewModel

@if (key == null && !string.IsNullOrEmpty(error))
{
    <div class="text-danger text-center">@error</div>
}
else
{
    @if (key == Model.Error.Key)
    {
        <div class="text-danger text-center">@Model.Error.Value</div>
    }
}