@media(max-width: 991px) {
    .like-link {
        padding: 0.715rem 0 !important;
    }
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

#header {
    padding: 5rem 0;
}

#alert {
    position: fixed;
    bottom: 0;
    left: 4rem;
}

.like-link {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, .5) !important;
    padding: 0.715rem 0.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
}

.like-link:hover {
    color: #fff !important;
    text-decoration: none;
}

.main-page{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}