@model ChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="Profile" method="POST"
    class="d-flex flex-column justify-content-center w-100 mx-auto border rounded p-3 mb-3">
    <h3>Change password</h3>
    <div class="form-group">
        <label asp-for="OldPassword">Old password</label>
        <input class="form-control" type="password" asp-for="OldPassword" placeholder="Old password..." />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New password</label>
        <input class="form-control" type="password" asp-for="NewPassword" placeholder="New password..." />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary w-50 ">Change password</button>
    </div>
</form>
